.test{
    color: blue;
    font-size: xx-large;
    position: relative;
    font-style: italic;
    }

    li{
        margin: 20px;
        margin-top: -235px;
        font-size: 18px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }